/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* common styles  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
header{
    
    height: 677px;
    background-color: #2D25A0;

}
header h1{
    color: white;
    font-size: 4rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}
nav ul{
    display: flex;
}
nav ul li{
    color: white;
    list-style: none;
    margin-right: 36px;
    border-bottom: 1px solid transparent;
    
}
nav ul li:hover{
    cursor: pointer;
    opacity: 0.6;
    border-bottom: 1px solid white;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
}
a:hover{
    color: #E02C6D;
    background-color: white;
    border: 1px solid #E02C6D;
    box-shadow: 2px 2px 10px 2px #fa5e97;
    transition: 0.2s;
}
i{
    padding: 5px;
}

/* header style  */
#header-area{
    width: 80%;
    margin: 0 auto;
}
.welcome-page{
    display: flex;
    padding-top: 5%;
}
.welcome-text{
    padding:0 4% 0;
}
.welcome-banner{
    display: flex;
}

.welcome-banner:hover img{
transform: translateX(-10px);
transition: 0.5s ease-in-out;
}

